#eighthSection {
    background-image: url('/eighthSectionBg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    padding-top: 15vh;
}

#eightSectionCita {
    bottom: 41vh;
}

#eighthSectionText {
    width: 60%;
    text-align: center;
    margin-top: 3vh;
    font-size: 16px;
}