#firstSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

//primera parte

#firstSectionPrimeraParte {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    position: absolute;
}

#firstSectionVideoContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 40px #000000 inset;
}

#firstSectionVideoBg {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
    transition: 1s;
}

.firstSectionTexts {
    display: flex;
    gap: 5px;
}

#loadingBarContainer {
    height: auto;
    width: 256px;
    position: absolute;
    bottom: 20vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    p {
        font-size: 12px;
    }
}

#loadingBar {
    background-color: #fafafa;
    height: 10px;
    transition: 1s;
}

//segunda parte

#firstSectionSegundaParte {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    position: absolute;
    top: 0;
}

#segundaParteTituloContainer {
    transition: 1s;
    margin-top: 10vh;
}

.segundaParteTitulo {
    font-family: "Nasa Font";
    font-weight: 300;
    font-size: 110px;
    line-height: 1;
}

#terraMoviendose {
    position: absolute;
    transition: 6s;
}