#fourteenthSection {
    height: 90vh;
    width: 100%;
    padding-top: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 16px;
        width: 65%;
        text-align: center;
        span {
            font-weight: 600;
        }
    }
    h3 {
        font-family: "Nasa Font";
        font-weight: 500;
        font-size: 24px;
        margin-top: 20px;
    }
}