#twelfthSection {
    padding-top: 8vh;
    height: 75vh;
}

#mopittBg1 {
    position: absolute;
    width: 500px;
    height: auto;
    left: 51vw;
    top: 50vh;
}

#mopittBg2 {
    position: absolute;
    width: 500px;
    height: auto;
    left: 3vw;
    top: 12vh;
}

#twelfthSectionTitleContainer {
    margin-left: 40vw;
}

#twelfthSectionText {
    width: 50%;
    text-align: center;
    margin-left: 40vw;
    margin-top: 5vh;
}

#twelfthSectionCita {
    bottom: 14vh;
    left: 10vw;
}

@media (max-width: 1024px) {
    #twelfthSection {
        height: 85vh;
    }

    #mopittBg1 {
        width: 400px;
        top: 55vh;
    }

    #mopittBg2 {
        width: 400px;
    }

    #twelfthSectionCita {
        bottom: 20vh;
    }

}