#firstSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#firstSectionPrimeraParte {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  position: absolute;
}

#firstSectionVideoContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 40px #000000 inset;
}

#firstSectionVideoBg {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  transition: 1s;
}

.firstSectionTexts {
  display: flex;
  gap: 5px;
}

#loadingBarContainer {
  height: auto;
  width: 256px;
  position: absolute;
  bottom: 20vh;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#loadingBarContainer p {
  font-size: 12px;
}

#loadingBar {
  background-color: #fafafa;
  height: 10px;
  transition: 1s;
}

#firstSectionSegundaParte {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  position: absolute;
  top: 0;
}

#segundaParteTituloContainer {
  transition: 1s;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.segundaParteTitulo {
  font-family: "Nasa Font";
  font-weight: 300;
  font-size: 110px;
  height: 60px;
  line-height: 1;
}

#terraMoviendose {
  position: absolute;
  transition: 3s;
}

#scrollDownAdvise {
  position: absolute;
  bottom: 5vh;
  font-family: "Nasa Font";
  text-shadow: 1px 1px 0 #000000;
  font-style: italic;
  transition: 1s;
}

#firstSectionTextUpContainer {
  overflow: hidden;
  height: 275px;
}

.segundaParteTituloTerra {
  font-family: "Nasa Font";
  font-weight: 300;
  font-size: 315px;
  line-height: 1;
}

@media (max-width: 1024px) {
  .segundaParteTitulo {
    font-size: 70px;
    height: 40px;
  }
  .segundaParteTituloTerra {
    font-size: 200px;
  }
}
@media (max-width: 768px) {
  .firstSectionTexts {
    display: flex;
  }
  #segundaParteTituloContainer {
    margin-top: 25vh;
  }
  .segundaParteTitulo {
    font-size: 35px;
    height: 25px;
  }
  #firstSectionTextUpContainer {
    overflow: hidden;
    height: 105px;
  }
  .segundaParteTituloTerra {
    font-size: 110px;
  }
}
#secondSection {
  height: 100vh;
  width: 100%;
}

#secondSectionTextContainer {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
#secondSectionTextContainer h2 {
  font-family: "Nasa Font";
  font-weight: 500;
  font-size: 30px;
}
#secondSectionTextContainer p {
  font-size: 24px;
  width: 700px;
}

#thirdSection {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/thirdSectionBg.jpg");
  background-size: cover;
}

#thirdSectionImage {
  position: absolute;
  width: 700px;
  height: auto;
  top: 40px;
  left: 10vw;
  filter: drop-shadow(1px 1px 0px rgb(255, 255, 255));
}

#thirdSectionCardsContainer {
  height: 100vh;
  width: 25%;
  position: absolute;
  right: -20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.thirdSectionCard {
  background: rgba(65, 65, 65, 0.1019607843);
  border-radius: 16px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 16px;
  transition: 1s;
  text-decoration: none;
  padding-right: 25px;
}
.thirdSectionCard h3 {
  font-family: "Nasa Font";
  font-weight: 500;
  font-size: 24px;
}
.thirdSectionCard p {
  font-size: 16px;
}
.thirdSectionCard:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #ffffff;
  transform: translateX(-10px);
  background: rgba(158, 158, 158, 0.1019607843);
}

#thirdSectionTextContainer {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
#thirdSectionTextContainer h2 {
  font-family: "Nasa Font";
  font-weight: 500;
  font-size: 30px;
}
#thirdSectionTextContainer p {
  font-size: 16px;
  width: 700px;
}

@media (max-width: 1024px) {
  #thirdSectionImage {
    width: 500px;
    left: 14vw;
  }
  #thirdSectionCardsContainer {
    gap: 5px;
  }
  .thirdSectionCard {
    padding: 8px 8px;
  }
  .thirdSectionCard h3 {
    font-family: "Nasa Font";
    font-weight: 500;
    font-size: 16px;
  }
  .thirdSectionCard p {
    font-size: 13px;
  }
  #thirdSectionTextContainer h2 {
    font-size: 24px;
  }
  #thirdSectionTextContainer p {
    font-size: 12px;
  }
}
#fourthSection {
  background-image: url("/fourthSectionBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
}

#fourthSectionText {
  font-weight: 500;
  font-size: 16px;
  width: 500px;
  text-align: center;
  margin-bottom: 10vh;
}

#sixthSection {
  align-items: flex-start;
}
#sixthSection .instrumentSectionTitleContainer {
  padding-left: 11%;
}

#sixthSectionText {
  position: absolute;
  top: 35%;
  width: 50%;
  margin-left: 3%;
  text-align: center;
  font-size: 16px;
}

#sixthSectionImageBg1 {
  position: absolute;
  width: 74vw;
  height: auto;
  left: 0;
  bottom: 0vh;
}

#sixthSectionImageBg2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 44vw;
  height: auto;
}

@media (max-width: 1024px) {
  #sixthSection {
    align-items: flex-start;
  }
  #sixthSection .instrumentSectionTitleContainer {
    padding-left: 0;
    width: 55%;
  }
  #sixthSectionText {
    top: 38%;
    font-size: 14px;
  }
  #sixthSectionImageBg1 {
    position: absolute;
    width: 74vw;
    height: auto;
    left: 0;
    bottom: 0vh;
  }
  #sixthSectionImageBg2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 44vw;
    height: auto;
  }
}
#eighthSection {
  background-image: url("/eighthSectionBg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  padding-top: 15vh;
}

#eightSectionCita {
  bottom: 41vh;
}

#eighthSectionText {
  width: 60%;
  text-align: center;
  margin-top: 3vh;
  font-size: 16px;
}

#modisBg1 {
  position: absolute;
  left: 3vw;
  bottom: 3vw;
}

#modisBg2 {
  position: absolute;
  left: 10vw;
  bottom: 15vw;
}

#modisBg3 {
  position: absolute;
  bottom: 3vw;
  right: 3vw;
}

#modisBg4 {
  position: absolute;
  bottom: 15vw;
  right: 10vw;
}

#tenthSectionText {
  width: 36%;
  text-align: center;
  margin-top: 10vh;
}

#extraModis1 {
  position: absolute;
  bottom: 6vw;
  left: 29vw;
  width: 180px;
  height: auto;
}

#extraModis2 {
  position: absolute;
  bottom: 6vw;
  right: auto;
  width: 180px;
  height: auto;
}

#extraModis3 {
  position: absolute;
  bottom: 6vw;
  right: 29vw;
  width: 180px;
  height: auto;
}

@media (max-width: 1024px) {
  #modisBg1 {
    left: 2vw;
    bottom: 2vw;
    width: 170px;
    height: auto;
  }
  #modisBg2 {
    left: 8vw;
    bottom: 13vw;
    width: 170px;
    height: auto;
  }
  #modisBg3 {
    bottom: 2vw;
    right: 2vw;
    width: 170px;
    height: auto;
  }
  #modisBg4 {
    bottom: 13vw;
    right: 8vw;
    width: 170px;
    height: auto;
  }
  #tenthSectionText {
    width: 36%;
    text-align: center;
    margin-top: 9vh;
  }
  #extraModis1 {
    width: 135px;
  }
  #extraModis2 {
    width: 135px;
  }
  #extraModis3 {
    width: 135px;
  }
}
#twelfthSection {
  padding-top: 8vh;
  height: 75vh;
}

#mopittBg1 {
  position: absolute;
  width: 500px;
  height: auto;
  left: 51vw;
  top: 50vh;
}

#mopittBg2 {
  position: absolute;
  width: 500px;
  height: auto;
  left: 3vw;
  top: 12vh;
}

#twelfthSectionTitleContainer {
  margin-left: 40vw;
}

#twelfthSectionText {
  width: 50%;
  text-align: center;
  margin-left: 40vw;
  margin-top: 5vh;
}

#twelfthSectionCita {
  bottom: 14vh;
  left: 10vw;
}

@media (max-width: 1024px) {
  #twelfthSection {
    height: 85vh;
  }
  #mopittBg1 {
    width: 400px;
    top: 55vh;
  }
  #mopittBg2 {
    width: 400px;
  }
  #twelfthSectionCita {
    bottom: 20vh;
  }
}
#thirteenthSection {
  height: 100vh;
  width: 100%;
  background-image: url("/incendios.jpg");
  background-size: cover;
  display: flex;
  padding: 3vw;
  align-items: center;
  justify-content: center;
}

#thirteenthSectionTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#thirteenthSectionTitleContainer h2 {
  font-family: "Nasa Font";
  font-weight: 700;
  text-shadow: 4px 4px 0 #000;
  line-height: 0.9;
}
#thirteenthSectionTitleContainer h2:nth-child(1) {
  font-size: 128px;
}
#thirteenthSectionTitleContainer h2:nth-child(2) {
  font-size: 178px;
}

#fourteenthSection {
  height: 90vh;
  width: 100%;
  padding-top: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fourteenthSection p {
  font-size: 16px;
  width: 65%;
  text-align: center;
}
#fourteenthSection p span {
  font-weight: 600;
}
#fourteenthSection h3 {
  font-family: "Nasa Font";
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
}

#fifteenthSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.userCard .userCardImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 4px solid rgb(11, 103, 119);
  margin-bottom: 10px;
}

.instrumentSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.instrumentSectionTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instrumentSectionTitleContainer p {
  font-family: "Nasa Font";
  font-weight: 500;
}

.instrumentSectionTitle {
  font-family: "Nasa Font";
  font-weight: 500;
  font-size: 128px;
  color: #fff;
  line-height: 0.8;
  transition: 1s;
}

.instrumentSectionCita {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-style: italic;
  font-size: 14px;
}
.instrumentSectionCita span {
  font-family: "Nasa Font";
}

@media (max-width: 1024px) {
  .instrumentSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
  }
  .instrumentSectionTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instrumentSectionTitleContainer p {
    font-family: "Nasa Font";
    font-weight: 500;
  }
  .instrumentSectionTitle {
    font-size: 128px;
  }
  .instrumentSectionCita {
    font-size: 12px;
  }
}
nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  padding: 0 3vw;
  z-index: 100;
}

#navLogos {
  display: flex;
  height: 10vh;
  gap: 10px;
  align-items: center;
}
#navLogos .navLogo {
  width: 7vh;
  height: 7vh;
  object-fit: contain;
}

#textUpContainer {
  overflow: hidden;
}

#textUpText {
  transition: 0.5s;
}

.noticeCard {
  background-color: #fff;
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 3px 3px 0 #000;
}
.noticeCard h3 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.noticeCard p {
  color: #000;
  font-size: 14px;
}
.noticeCard a {
  color: #fff;
  font-weight: 700;
  background-color: red;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}

.noticeCardImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.noticeCardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

#thirteenthSectionCards {
  position: absolute;
  left: 0;
  bottom: -55%;
  display: flex;
  z-index: 100;
  justify-content: space-evenly;
  width: 100%;
}

@font-face {
  font-family: "Fira Sans SemiBold";
  src: url("/font/FiraSans-SemiBold.ttf");
}
@font-face {
  font-family: "Fira Sans Light";
  src: url("/font/FiraSans-Light.ttf");
}
@font-face {
  font-family: "Fira Sans Medium";
  src: url("/font/FiraSans-Medium.ttf");
}
@font-face {
  font-family: "Fira Sans Regular";
  src: url("/font/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "Nasa Font";
  src: url("/font/NasaFont.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, span, a, button {
  font-family: "Fira Sans Light";
  color: #fafafa;
}

body {
  background-color: #000;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=globals.css.map */
