// sass --watch app/sass/styles.scss app/globals.css

@use "./sections/firstSection";
@use "./sections/secondSection";
@use "./sections/thirdSection";
@use "./sections/fourthSection";
@use "./sections/fifthSection";
@use "./sections/sixthSection";
@use "./sections/seventhSection";
@use "./sections/eighthSection";
@use "./sections/ninthSection";
@use "./sections/tenthSection";
@use "./sections/eleventhSection";
@use "./sections/twelfthSection";
@use "./sections/thirteenthSection";
@use "./sections/fourteenthSection";
@use "./sections/fifteenthSection";
@use "./sections/sections";
@use "./components/navBar";
@use "./components/textUp";
@use "./components/noticeCard";


//FUENTES

@font-face {
    font-family: "Fira Sans SemiBold";
    src: url("/font/FiraSans-SemiBold.ttf");
}

@font-face {
    font-family: "Fira Sans Light";
    src: url("/font/FiraSans-Light.ttf");
}

@font-face {
    font-family: "Fira Sans Medium";
    src: url("/font/FiraSans-Medium.ttf");
}

@font-face {
    font-family: "Fira Sans Regular";
    src: url("/font/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "Nasa Font";
    src: url("/font/NasaFont.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, span, a, button {
    font-family: "Fira Sans Light";
    color: #fafafa;
}

body {
    background-color: #000;
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}